replicaCount: 1

image:
  repository: signalen/frontend
  tag: ""
  pullPolicy: IfNotPresent

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: frontend.signals.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: frontend-tls
      hosts:
        - frontend.signals.local

resources: {}

config: {}

extraVolumes: []
extraVolumeMounts: []
